
#pluginAppObj_36 {
	width: 100%;
}
#pluginAppObj_36 .cd-headline {
	display: block;
	font-family: 'Arial';
	font-size: 19px;
	line-height: 27px;
	color: rgba(100, 100, 100, 1);
	font-style: normal;
	font-weight: normal;
}

#pluginAppObj_36 .cd-headline b,
#pluginAppObj_36 .cd-headline i,
#pluginAppObj_36 .cd-headline em {
	
	font-family: 'Arial';
	font-size: 19px;
	line-height: 27px;
	color: rgba(64, 64, 64, 1);
	font-style: normal !important;
	font-weight: normal;
}

/* Loading bar color */
#pluginAppObj_36 .cd-headline.loading-bar .cd-words-wrapper::after {
	background-color: rgba(64, 64, 64, 1);
}

#pluginAppObj_36 .cd-intro {
	text-align: center;
}
