html { position: relative; margin: 0; padding: 0; height: 100%; }
body { margin: 0; padding: 0; text-align: left; height: 100%; }
#imPageExtContainer {min-height: 100%; }
#imPageIntContainer { position: relative;}
#imPage { position: relative; width: 100%; }
#imHeaderBg { position: absolute; left: 0; top: 0; width: 100%; }
#imContent { position: relative; overflow-x: clip; }
#imFooterBg { position: absolute; left: 0; bottom: 0; width: 100%; }
#imStickyBarContainer { visibility: hidden; position: fixed; overflow: hidden; }
#imPageToTop { position: fixed; bottom: 30px; right: 30px; z-index: 10500; display: none; opacity: 0.75 }
#imPageToTop:hover {opacity: 1; cursor: pointer; }
@media (min-width: 1300.0px) {
		#imPageExtContainer { background-image: none; background-color: rgba(255, 255, 255, 1); z-index: 0; position: relative; }
		#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 1300px; }
		#imHeaderBg { height: 250px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imHeader { background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 250px; width:1300px; }
		#imContent { align-self: start; padding: 0px 0 0px 0; }
		#imContentGraphics { min-height: 520px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterBg { z-index: -1; height: 450px; background-image: none; background-color: transparent; }
		#imFooter { z-index: 1;  background-image: none; background-color: transparent; }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 450px; width:1300px; }
		#imSideBar { background-image: none; background-color: transparent; overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 520px; }
		#imStickyBarContainer { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 60px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 60px; box-sizing: border-box; background-image: none; background-color: rgba(0, 0, 0, 0.5); position: absolute; }
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 1300px }
		#imStickyBarObjects { position: relative; height: 60px; }
	
}
@media (max-width: 1299.9px) and (min-width: 720.0px) {
		#imPageExtContainer { background-image: none; background-color: rgba(255, 255, 255, 1); z-index: 0; position: relative; }
		#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 720px; }
		#imHeaderBg { height: 140px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imHeader { background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 140px; width:720px; }
		#imContent { align-self: start; padding: 0px 0 0px 0; }
		#imContentGraphics { min-height: 520px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterBg { z-index: -1; height: 450px; background-image: none; background-color: transparent; }
		#imFooter { z-index: 1;  background-image: none; background-color: transparent; }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 450px; width:720px; }
		#imSideBar { background-image: none; background-color: transparent; overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 520px; }
		#imStickyBarContainer { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 60px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 60px; box-sizing: border-box; background-image: none; background-color: rgba(0, 0, 0, 0.5); position: absolute; }
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 720px }
		#imStickyBarObjects { position: relative; height: 60px; }
	
}
@media (max-width: 719.9px) and (min-width: 320.0px) {
		#imPageExtContainer { background-image: none; background-color: rgba(255, 255, 255, 1); z-index: 0; position: relative; }
		#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 320px; }
		#imHeaderBg { height: 130px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imHeader { background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 130px; width:320px; }
		#imContent { align-self: start; padding: 0px 0 0px 0; }
		#imContentGraphics { min-height: 520px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterBg { z-index: -1; height: 900px; background-image: none; background-color: transparent; }
		#imFooter { z-index: 1;  background-image: none; background-color: transparent; }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 470px; width:320px; }
		#imSideBar { background-image: none; background-color: transparent; overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 520px; }
		#imStickyBarContainer { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 60px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 60px; box-sizing: border-box; background-image: none; background-color: rgba(0, 0, 0, 0.5); position: absolute; }
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 320px }
		#imStickyBarObjects { position: relative; height: 60px; }
	
}
@media (max-width: 319.9px)  {
		#imPageExtContainer { background-image: none; background-color: rgba(255, 255, 255, 1); z-index: 0; position: relative; }
		#imPage { padding-top: 0px; padding-bottom: 0px; }
		#imHeaderBg { height: 130px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imHeader { background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 130px; width:320px; }
		#imContent { align-self: start; padding: 0px 0 0px 0; }
		#imContentGraphics { min-height: 520px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterBg { z-index: -1; height: 900px; background-image: none; background-color: transparent; }
		#imFooter { z-index: 1;  background-image: none; background-color: transparent; }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 490px; width:320px; }
		#imSideBar { background-image: none; background-color: transparent; overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 520px; }
		#imStickyBarContainer { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 60px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 60px; box-sizing: border-box; background-image: none; background-color: rgba(0, 0, 0, 0.5); position: absolute; }
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 320px }
		#imStickyBarObjects { position: relative; height: 60px; }
	
}
