#pluginAppObj_105_06 {
    display: inline-block;
    max-width: 100%;
}

/* Container dimensions */
#pluginAppObj_105_06 .container {
    position: relative;
    max-width: 100%;
    height: 0;
    width: 530px;
    padding-top: 76.0377358491%;
}

@media screen and (min-width: 530px) {
    #pluginAppObj_105_06 .container.fullWidth {
        width: 100%;
        padding-top: 403px;
    }
}

#pluginAppObj_105_06 .container .map_container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

/* Error in UI Preview */
#pluginAppObj_105_06 .error_post_container{
    width: 99%;
}

#pluginAppObj_105_06 .error_post_thumb img {
    float: left;
    clear:left;
    width:16px;
    height:16px;
}

#pluginAppObj_105_06 .error_post_content {
    margin-left: 22px;
}

#pluginAppObj_105_06 iframe.error_post_content {
    margin-left: 14px;
}

#pluginAppObj_105_06 .p_error_ui{
    font-family: "Segoe UI";
    font-size: 9pt;
    line-height: 1.8;
}
